body {
  max-width: 640px;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: auto;
  margin-right: auto;
}

em {
  font-style: normal;
  font-weight: bold;
}

.content {
  max-width: 608px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  border: 1px solid rgb(217,217,215);
}

.title {
  margin: 0;
  padding: 0;
  padding-top: 10px;

  font-size: 14px;
  line-height: 28px;
  font-weight: normal;

  text-align: center;
  color: #666;
}

.inner-text {
  max-width: 594px;
  padding-top: 28px;
  padding-bottom: 28px;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 4px;
  margin-right: 4px;
  border: 1px solid rgb(217,217,215);
  border-top: none;
  z-index: 90;
  font-size: 14px;
  line-height: 18px;
}

.last {
  margin-bottom: 6px;
}

.index-logo {
  text-align: center;
  max-width: 594px;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgb(217,217,215);
  border-top: none;
  border-bottom: none;
  z-index: 90;
}
.index-logo img {
}

.paper hr {
  color: rgb(217,217,215);
  background-color: rgb(217,217,215);
  border: 1px solid rgb(217,217,215);
}

.navbar {
  max-width: 596px;
  margin-left: auto;
  margin-right: auto;
  margin-top : 16px;
  margin-bottom: 0;
}

.navbar-inner {
  padding-left: 6px;
  padding-right: 6px;

  border: 1px solid rgb(217,217,215);
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;

  background-color: rgb(246,246,244);
  background-image : none;
}

.cork {
  background: rgba(157,126,95, 0.7);
}

.paper {
  background: rgb(246,246,244);
}

h1 h2 {
/* font-family: 'Fjalla One', sans-serif; */
/* font-family: 'Carrois Gothic', sans-serif; */
}

.red {
color: rgb(248, 70, 66);
}

.navbar .nav > li > a {
  padding: 10px 6px 10px;
/*  color: #777777; */
  color: rgb(81,44,51);
  text-decoration: none;
  text-shadow: none;
/*  text-shadow: 0 1px 0 #ffffff; */
}

/*
 * content
 */

.ribbon {
    text-align: center;
    position: relative;
    color: #fff;    
    margin: 0 -16px 0 -16px;
    padding: 10px 0; 
    /* text-shadow: 0 1px rgba(0,0,0,.8); */
    /*background: rgb(248,70,66);*/
    background-color: #294173; 
    background-image: -moz-linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0));
    background-image: -webkit-linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0));
    background-image: -o-linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0));
    background-image: -ms-linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0));
    background-image:  linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0));
    -moz-box-shadow: 0 2px 0 rgba(0,0,0,0);
    -webkit-box-shadow: 0 2px 0 rgba(0,0,0,0);
    box-shadow: 0 2px 0 rgba(0,0,0,0);
}

.ribbon:before, .ribbon:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-color: transparent;
    bottom: -10px;
}
.ribbon:before {
    border-width: 0 7px 10px 0;
    border-right-color: #222;
    left: 0;
}
.ribbon:after {
    border-width: 0 0 10px 7px;
    border-left-color: #222;
    right: 0;
}

.ribbon h4 {
  margin: 0;
  font-weight: normal;
}
.ribbon h4 .name {
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;
}

.inner-text h4 {
  text-align: right;
  font-size: 15px;
  margin-top: 0;
  margin-bottom: 20px;
}

/* location */

.location {
  max-width: 90%;
  margin: 0 auto;
}
.location img {
  border: 3px solid rgb(213,193,130);
}
.location .address {
  padding: 10px 0 10px 10px;
  font-size: 10px;
  color: #666;
  text-align: right;
}

/* message */
.message {
  font-size: 12px;
}

/* how-to */
.how-to {
  font-size: 11px;
}
.how-to figure {
  margin: 0;
  margin-bottom: 15px;
}
.how-to figcaption {
  font-size: 12px;
  font-weight: bold;
  color: darkblue;
}
.how-to ul {
  list-style: none;
  margin: 0;
}
.how-to ul,
.how-to p {
  margin-left: 20px;
}
.how-to em.transport {
  font-size: 12px;
  padding-right: 5px;
}


/*
 * Swiper
 */
.swiper-slide {
  text-align: center;
  margin-bottom: 30px;
}

/* description */
.swiper-slide .description {
  text-align: center;
  font-size: 16px;
  margin-bottom: 0;
}
.swiper-slide .date {
  position: absolute;
  right: 0;

  padding-right: 7px;
  padding-bottom: 7px;
  font-size: 12px;
  color: #666;
}
.swiper-slide p.date:before {
  content: "- ";
}
/* pagiation */
#gallery .swiper-container-horizontal > .swiper-pagination {
    bottom: 90px;
}

/* 
 * sliderkit 
 */
/*
.image-resolution-320,
.image-resolution-640 {
    display: none;
}
@media only screen and (max-device-width : 319px) {
    .image-resolution-320 {
        display: block;
    }
}
@media only screen and (min-device-width : 320px) {
    .image-resolution-640 {
        display: block;
    }
}
*/

.sliderkit {
  max-width: 640px;
  width: 100%;
  /*min-height: 200px;*/
  min-height: 240px;
  height: 350px; /* + caption height */

  border-radius: 2px;
  border: 1px solid #aaa;
}

/* button */
.photoslider-mini .sliderkit-go-btn {
  position:absolute;
  top:0;
  z-index:10;
  width:50px;
  /*height:335px;*/

  margin-top: 55px;
}
.photoslider-mini .sliderkit-go-prev { left:0;  }
.photoslider-mini .sliderkit-go-next { right:0; }
.photoslider-mini .sliderkit-go-btn a{
  display:block;
  width:50px;

  height:240px;
  opacity:0.6;
  cursor:pointer;
  background-color:#fff;
  background-repeat:no-repeat;
  background-position:center center;

  text-align: center;
  font-size: 30px;
  padding-top: 100px;
  height: 140px; /* - padding */
}
.photoslider-mini .sliderkit-go-prev a { }
.photoslider-mini .sliderkit-go-next a { }
.photoslider-mini .sliderkit-go-btn span{
  color: rgba(200,200,200,0.8);
  text-shadow: 1px 1px rgba(33,33,33, 0.6);
  /*display:none;*/
}

.photoslider-mini .sliderkit-btn-disable a {
  opacity:0; /*can be set to any value until 1*/
  cursor:default;
}
.photoslider-mini .sliderkit-btn-disable a:hover {
  cursor:default;
}

/* active */
.sliderkit-panel-active {
  width : 100%;
  height: 100%;
}
.sliderkit-panel-active img {
  display: block;
  margin: 0 auto;
  max-height: 240px;

  /* vertical align */
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.sliderkit-panel:not(.sliderkit-panel-active) {
  display: none;
}

/* caption */
.sliderkit-panel-textbox {
  bottom: 0;

  width: 100%;

  height: 44px;
  line-height: 22px;
}
.sliderkit-panel-text {
  width: 100%;
}
.sliderkit-panel-textbox p {
  text-align: center;
  font-size: 16px;
  margin-bottom: 0;
}
.sliderkit-panel-textbox p.date {
  position: absolute;
  right: 0;

  padding-right: 7px;
  padding-bottom: 7px;
  font-size: 12px;
  color: #666;
}
.sliderkit-panel-textbox p.date:before {
  content: "- ";
}

/*---------------------------------
 *  Photos slider > Minimal
 *---------------------------------*/
/*
.photoslider-mini{width:500px;height:335px;}
*/

/* Panels buttons */
	/*
.photoslider-mini .sliderkit-go-btn{position:absolute;top:0;z-index:10;width:50px;height:335px;}
.photoslider-mini .sliderkit-go-prev{left:0;}
.photoslider-mini .sliderkit-go-next{right:0;}
.photoslider-mini .sliderkit-go-btn a{display:block;width:50px;height:335px;opacity:0.6;cursor:pointer;background-color:#fff;background-repeat:no-repeat;background-position:center center;}
.photoslider-mini .sliderkit-go-prev a{background-image:url("../images/slider-arrow-left.gif");}
.photoslider-mini .sliderkit-go-next a{background-image:url("../images/slider-arrow-right.gif");}
.photoslider-mini .sliderkit-btn-disable a{opacity:0
/*can be set to any value until 1*/
/*	;cursor:default;}
.photoslider-mini .sliderkit-btn-disable a:hover{cursor:default;}
.photoslider-mini .sliderkit-go-btn span{display:none;}
*/


